<div class="col">
  <div class="card">
    <img src="" class="card-img-top" alt="" />
    <div class="card-body">
      <h5 class="card-title">First post</h5>
      <p class="card-text">Description of the post.</p>
    </div>
    <div class="card-footer">
      <a href="">
        <div class="edit-button bg-primary ms-auto">
          <i data-feather="edit-2"></i>
        </div>
      </a>
    </div>
  </div>
</div>