<a href="/post" class="post-link">
  <div class="post">
    <img
      src="https://source.unsplash.com/zXVk8mNl9M0/1000x400"
      alt="foto del post"
      class="post-img"
    />
    <div class="p-body p-3">
      <h2 class="text-center">Post title</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt atque
        nesciunt, inventore mollitia maiores cupiditate saepe eius ullam
        perspiciatis veritatis distinctio illo! Iusto autem maiores mollitia
        laborum velit aut numquam.</p>
    </div>
  </div>
</a>