<div class="comment-card p-3">
  <div class="container">
    <div class="commenter-data">
      <img src="" class="commenter-img rounded-circle" />
      <p class="fw-bold text-primary ms-4">User random 1</p>
      <small class="ms-auto">2 days ago</small>
    </div>
    <div class="">
      <p class="font-weight-bold">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Molestias quibusdam, ipsa recusandae nobis hic fugit
        eum consequuntur architecto reprehenderit voluptatum unde rerum,
        necessitatibus illo a. Obcaecati sit repellendus enim adipisci porro
        itaque nobis repudiandae!</p>
    </div>
  </div>
</div>