<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="nav-wrap">
      <a class="navbar-brand nav-wrap" href="/">
        <p>STORY</p>
        <h5>BOOK</h5>
      </a>
    </div>
    <div class="starter">
      <a class="nav-link" href="/login">LOGIN</a>
      <a class="nav-link" href="/register">SIGN UP</a>
      <a class="nav-link d-none" href="/">LOGOUT</a>
    </div>
  </div>
</nav>