{{>nav}}
<section class="login-body">
  <div class="logo-div">
      <p class="text-uppercase">story</p>
      <h1 class="fw-bolder text-uppercase">book</h1></div>
  <h1 class="h4 mb-3 fw-normal">Please sign in</h1>
  <div class="login-container text-center">
    <main class="form-signin">
      <form action="/login" method="POST">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            required
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" />
            Remember me
          </label>
        </div>
        <button
          class="w-100 btn btn-lg btn-dark btn-block"
          type="submit"
          id="btnLogin"
        >
          Sign in
        </button>
      </form>
    </main>
  </div>
</section>