{{>nav}}
<section class="post-body">
    <img src="https://source.unsplash.com/zXVk8mNl9M0/1200x600" alt="" class="author-post-img">
    <div class="overlay"></div>
    <div class="container header-post mb-5">
        <h1 class="color-dark text-uppercase">post title</h1>
        <div class="author-signature">
            <img src="" alt="" class="signature-pfp">
            <p class="signature-name ms-4">by <span class="a-name fw-bold">Gerson Herrera</span></p>
        </div>
        <p class="signature-date">July 5th 2022</p>
        <p class="pt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam blanditiis aperiam quod eaque dicta nemo nisi, 
        rem dignissimos odio beatae minus repellendus quos, delectus quisquam fugit porro commodi voluptas inventore.</p>

        <p class="pb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, quidem error et eius in ipsum officiis vitae 
        laborum itaque quia ducimus iste pariatur? Soluta placeat odio quibusdam qui repellat minima nam, explicabo 
        deserunt aperiam autem est, cupiditate eveniet, fugit reprehenderit. In eveniet voluptate eos earum unde repellat, 
        ipsa, ipsam corrupti corporis, suscipit molestias libero a? Hic quaerat nihil asperiores nisi eligendi unde ut 
        nemo, veritatis sit consequuntur quis repellendus nam recusandae assumenda, dicta saepe cumque quod! Quod corporis 
        vitae minima! Eius nobis dolorum recusandae, voluptatum consequatur sunt voluptatem optio molestiae expedita 
        beatae perferendis a. Eligendi dignissimos non veritatis molestiae obcaecati.</p>

        <p class="pb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quasi pariatur, aperiam sit voluptatum 
            dolorem porro hic repellat aliquid quae quas architecto eos ullam, repellendus tempore necessitatibus ex 
            facere eaque.
        </p>
        <div class="comment-section container px-5 mx-auto">
            <div class="container mt-5">
                <h3 class="mb-5">Unread comments</h3>
                {{>comment}}
            </div>
        </div>
    </div>
</section>